body{
    background-color: rgb(68, 68, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}
.calc{
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
}
#input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 15px;
    margin-right: 50px;
    text-align: right;
    border-radius: 10px;
    border-color: antiquewhite;
}
.btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.equal{
    color: aliceblue;
}
.new{
    color: aliceblue;
}