.main{
    margin:300px 900px 1000px 700px;
    border-radius: 10px;
    background-color: rgb(251, 251, 251);
}
.box1{
    margin: 20px 20px 20px 20px ;
    font-size: larger;
}
.box1 button{
    
    margin-top: 20px;
     width: 240px;
    height: 40px;
    font-size: larger;
    border: none;
    padding-left: 120px;
    border-radius: 5px;
}
.box2{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.box2 button{
    background-color: yellow;
    color: black;
    border-radius: 5px;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: larger;
    border: none;
    
}
.box3{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.box3 button{
    background-color: lightblue;
    color: black;
    border-radius: 5px;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: larger;
    border: none;
}
.box4{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.box4 button{
     background-color: lightblue;
    color: black;
    border-radius: 5px;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: larger;
    border: none;
}
.box5{
   display: flex;
    justify-content: space-between;
    margin-top: 20px;
}  
.box5 button{
     background-color: lightblue;
    color: black;
    border-radius: 5px;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: larger;
    border: none;
}
.box6 button{
  background-color: rgb(10, 229, 138);
    color: black;
    border-radius: 5px;
    align-items: center;  
    margin-left: 20px;
    width: 100px;
    height: 40px;
    font-size: larger;
    border: none;
}
.box6{
    margin-top: 20px;
}
