.s1{
  width:90%;
  font-size: 40px;
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
}
.s2{
  width:10%;
  padding-bottom: 50px ;
  text-align: center;
 color: rgb(0, 64, 255);
 border: none;
}

.open{
  display: flex;
}
.s3{
    width:70%;
}
.s5{
    text-decoration: underline;
}
.s7{
    width: 20% ;
    margin-left: 300px;
    text-align: left;
    justify-content: space-evenly;
}
.s6
{
    width: 10% ;
}
.s4{
    color: rgb(0, 64, 255);
}
.subheading{
  display: flex;
}
.maincontainer{
  display: flex;
  font-family: sans-serif;
}
.container1{
    width: 80% ;
}
.container2{
    width: 20% ;
    font-size: 20px;
    margin-left: 100px;
}
p{
    text-align: justify;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: rgb(0, 64, 255);
}
.t8{
    font-size: 25px;
    font-weight: bold;
}