.main{
    border: 1px solid;
    color: blue;
    text-align: center;
    border-radius: 5px;
}
.main:hover{
    background-color: rgb(17, 202, 42);
    color: rgb(241, 182, 55);
}
.main:active{
    background-color: darkblue;
}
/* .main:visited{
    background-color: blueviolet;
} */
 .s1::first-line{
    color:white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
 }
 .s2::first-letter{
    color: aqua;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 ::marker{
    color: aquamarine;
    font-size: 23px;

 }
 ::selection{
    color: orange;
    background-color: black;
 }
 

