.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #f07109;
  color: rgb(0, 0, 0);
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  text-align: right;

}

.nav-links li:hover {
  text-decoration: underline;
}
