body{
   background-image: url("./bg-image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.petcorner-container {
  padding: 40px;
}
.petcorner-list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}
.petcorner-item {
  width: 320px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  background-color: #fb891f;
}
.petcorner-item img {
  width: 100%;
  height: 200px;    
  object-fit: contain;
  border-radius: 10px;
  background-color: #f5f5f5;
}